---
import { cn } from "@lib/utils";
import { Image } from "astro:assets";

function getRandomElement(array: any[]) {
	return array[Math.floor(Math.random() * array.length)]
}

let music_data = null;

const spotifyAPI = [
	// 'spotify-data',
	'spotify-web2',
	'spotify23'
]
const currentSpotifyAPI = getRandomElement(spotifyAPI) // uso una qualsiasi di queste api tanto sono tutte uguali

// IDs delle tracce audio da Spotify
const tracks = [
	'7HSs4srn1qnZhh7WRWBVOk', //romeo & juliet - prokofiev
	'1IM8x4lxZVOOP9gpQD6c5s', //danse macabre - saint-saëns
	'3By9jCy6b4dv5XnlhvIWwx', //dies irea - verdi
	'0BWJNm4TrO6H3qgiCmDBjM', //toccata e fuga - bach
	'6ihAdkoMDK1xyrQCgH40mS', //sinfonia n9 - beethoven
	'3sAYxq1986j3ydqLv6jwUJ', //serenade for strings - dvorák
]

// fetch delle api
const url = `https://${currentSpotifyAPI}.p.rapidapi.com/tracks/?ids=${getRandomElement(tracks)}`;

const options = {
	method: 'GET',
	headers: {
		'x-rapidapi-key': import.meta.env.RAPIDAPI_KEY,
		'x-rapidapi-host': `${currentSpotifyAPI}.p.rapidapi.com`
	}
};

try {
	// faccio la richiesta
	const response = await fetch(url, options);
	const result = await response.json();

	if (response.ok) {
		music_data = result.tracks[0];
	}

} catch (error) {
	console.error(error);
}

const { bodyClass } = Astro.props;

---
<div class="overflow-y-clip">
	<span id="player-trigger" aria-hidden="true"></span>
	<div id="nicplayer" class={cn("bg-background", bodyClass, "relative group my-12 mx-auto w-fit rounded-full transition-all after:block after:w-8 after:h-8 after:top-[3.6rem] after:left-[3.6rem] after:rounded-full after:absolute after:bg-transparent hover:after:bg-inherit hover:after:border-black hover:after:border-8 after:transition-transform after:will-change-transform after:duration-100 after:origin-center")} title="In onda: Bach - Prelude and Fugue in A minor, BWV 894">
		<Image loading="lazy" src="/assets/images/foto-nic-tonda.png" alt="Una mia foto vera :)" height="148" width="148" class="bg-black rounded-full border-black group-hover:border-4 group-hover:animate-spin relative" />
		<audio preload="none">
			<source src="/assets/audio/Bach_BWV894-EoGz2GOtpCk.mp3" type="audio/mpeg">
		</audio>
		<div id="vynil" aria-hidden="true"></div>
	</div>
</div>


<style>
	#nicplayer {
		will-change: transform;
		transition-behaviour: allow-discrete;
	}

	#vynil {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 9999px;
		pointer-events: none;
		z-index: 2;
		--lines-color: rgba(0, 0, 0, 0.7);
		background: 
			radial-gradient(circle, transparent 0%, transparent 30%),
			radial-gradient(circle, transparent 30%, rgba(0, 0, 0, 0.76) 30%, rgba(0, 0, 0, 0.86) 100%),
			radial-gradient(circle, transparent 30%, var(--lines-color) 32%, transparent 32%),
			radial-gradient(circle, transparent 40%, var(--lines-color) 42%, transparent 42%),
			radial-gradient(circle, transparent 50%, var(--lines-color) 52%, transparent 52%),
			radial-gradient(circle, transparent 60%, var(--lines-color) 62%, transparent 62%),
			radial-gradient(circle, transparent 70%, var(--lines-color) 72%, transparent 72%);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	#nicplayer:hover #vynil {
		display: block;
	}
	#nicplayer audio {
		display: none;
	}
</style>


<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger) ;

		
	gsap.fromTo('#nicplayer', {
		y: 1000,
		scale: 0.9,
		rotate: 720,
	}, {
		y: 0,
		scale: 1,
		rotate: 0,
		delay: 0.15,
		duration: 0.6,
		ease: 'bounce.out',
		scrollTrigger: '#player-trigger',
	});
	
</script>

<script is:inline define:vars={{music_data}}>

	/** {wrapper: HTMLElement, image: HTMLImageElement, audio: HTMLAudioElement} */
	const nicplayer = {
		wrapper: document.getElementById('nicplayer'), // div contenitore
		image: document.querySelector('#nicplayer > img'), //immagine profilo/album
		audio: document.querySelector('#nicplayer > audio') //tag audio nascosto
	}
	const original_image = nicplayer.image.src; //salvo il src della foto profilo

	if (music_data) {
		nicplayer.wrapper.title = `In onda: ${music_data.name}`;
		nicplayer.audio.src = music_data.preview_url;
		nicplayer.audio.preload = 'auto';
	}

	// se l'utente va sopra con il mouse cambio immagine con quella dell'album (se l'ho presa da spotify) e avvio l'audio
	nicplayer.wrapper.addEventListener('mouseover', ()=>{
		nicplayer.image.src = music_data ? music_data.album.images[1].url : '/assets/images/bach.jpg'; // cambio l'immagine con quella dell'album spotify o con un quadro di bach per il fallback
		nicplayer.audio.volume = 0.5; // dimezzo per non dare troppo fastidio
		nicplayer.audio.currentTime = 0; // riavvio ogni volta l'audio (durano tutti poco...)
		nicplayer.audio.play();
	})
	
	// quando il mouse va via stoppo la musica e rimetto l'immagine originale
	nicplayer.wrapper.addEventListener('mouseleave', ()=>{
		nicplayer.image.src = original_image;
		nicplayer.audio.pause();
	})
</script>