---
import Layout from '@layouts/Layout.astro'
import PAGEDATA from '@data/portfolio.json';
import {getDocuments, getDocumentDetail, type Work } from '@lib/microcms.ts';
import {type Portfolio} from '@lib/types.ts'
import Gallery from '@components/Gallery.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const response = await getDocuments('works', { fields: ["slug", "portfolio", "id"]  });
  return response.contents.map((content: any) => ({
    params: {
      portfolioType: content.portfolio[0],
      id: content.id,
      slug: content.slug
    },
  }));
}

const { portfolioType, id } = Astro.params;

const document = await getDocumentDetail<Work>('works', id as string);
const DATA = PAGEDATA[portfolioType as Portfolio];

---

<Layout title={`Progetto ${document.title} [${portfolioType} portfolio]`} bodyClass={DATA.bodyClass}>
    <section class="w-full bg-no-repeat bg-contain min-h-96 flex items-center z-10 relative" style={DATA.style}>
        <div class="text-center w-full mx-auto p-4">
            <p class="font-cursive">{document.category[0]} Stuff</p>
            <h1 slot="p" class="leading-none text-4xl">
                {document.title.split(' ').map((word) => <span class="odd:font-bold last:font-bold"> {word} </span>)}
            </h1>
            <a class="mt-4 px-4 block w-fit mx-auto" href={`${Astro.url.origin}/portfolio/${portfolioType}/`}>
                <span class="text-foreground py-1 px-8 font-extrabold text-base uppercase block transition-all ease-out hover:scale-y-110 origin-top">&larr; torna al portfolio</span>
            </a>
        </div>
    </section>
    <article class="-mt-10 mx-auto max-w-5xl flex flex-col md:flex-row gap-8">
        <main class="w-full">
            <Image src={document.image.url} loading="eager" alt="" height={document.image.height} width={document.image.width} class="w-full" />
            <p class="px-4 my-8 font-cursive text-pretty">{document.description}</p>
        </main>
        <aside class="w-fit min-w-72 max-w-full px-4">
            <ul role="complementary">
                <li><b>Realizzato per:</b> {document.client}</li>
                <li><b>Anno:</b> <time datetime={document.start_date}> {new Date(document.start_date).getFullYear()}</time></li>
                <li><b>Status:</b> {document.status}</li>
                <li><b>Tipo lavoro:</b> {document.type}</li>
                {
                    document.link && (
                        <li>
                            <b>Link:</b> <a href={document.link} target="_blank" rel="noopener">{document.link.replace(/http(s?):\/\/(www.)?/gi, '')}</a>
                        </li>
                    )
                }
            </ul>
            {
                document.notes && (
                    <hr class="border-foreground my-4" />
                    <div id="notes" set:html={document.notes} />
                )
            }
        </aside>
    </article>
    { document.gallery && <Gallery images={document.gallery} /> }
</Layout>

<style is:inline>
    #notes h4 {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    #notes ul,
    #notes ol {
        padding-left: .75rem;
    } 
    #notes ul {
        list-style-type: disc;
    }
    #notes ol {
        list-style-type: decimal-leading-zero;
    }
    #notes li {
        margin: .125rem;
    }
</style> 