---
import Layout from '@layouts/Layout.astro';
import PortfolioButtons from '@components/PortfolioButtons.astro'
import Testimonal from '@components/Testimonal.astro';
import CardIcon from '@components/CardIcon.astro';
import BigPortfolioButton from '@components/BigPortfolioButton.astro';

import PAGEDATA from '@data/index.json';

---

<Layout title="Niccolò Agnoletti - Developer, Designer, Illustrator">
	<main>
		<h1 class="uppercase font-extrabold leading-none text-[3.5rem] md:text-8xl p-4 m-auto">
			Ciao! Se sei qui immagino tu stia cercando<wbr/> il mio portfolio. Ecco qui:
		</h1>
		<ul class="flex flex-row flex-wrap mt-16 w-full overflow-x-clip px-3">
			<BigPortfolioButton 
			href="/portfolio/technical"
			title="Technical Stuff"
			src="/assets/images/punkwebdev.png"
			type="technical">
					<strong>WEB DESIGN</strong> UI/UX<br/> + <strong>DEVELOPEMENT.</strong>
			</BigPortfolioButton>			
			<BigPortfolioButton 
			href="/portfolio/creative"
			title="Creative Stuff"
			src="/assets/images/creativecat.png"
			type="creative">
				digital <strong>ILLUSTRATIONS,<br /> 
				BRANDS, MAGAZINES.</strong>
			</BigPortfolioButton>
		</ul>
	</main>
	<section class="bg-accent px-4 py-24 mt-2 clip01">
		<h2 class="text-center font-extrabold uppercase text-6xl">O forse ti stai chiedendo<br>“scusa ma, chi c** sei?”</h2>
		<div class="flex flex-row mt-8 md:gap-12 mx-auto max-w-5xl items-center">
			<img src="/assets/images/weirdnic.png" height="200px" width="200px" alt="" class="w-full max-w-md h-auto" />
			<div class="drop-shadow-md">
				<div class="bg-white/50 p-12 w-fit h-fit text-xl font-cursive rotate-1" style="clip-path: polygon(18% 1%, 36% 0, 49% 2%, 55% 1%, 88% 2%, 99% 1%, 100% 42%, 99% 55%, 100% 76%, 99% 88%, 99% 98%, 82% 100%, 36% 99%, 17% 100%, 4% 98%, 1% 91%, 1% 55%, 0% 44%, 1% 29%, 1% 2%);">
					<p> Mi presento: </p>
					<p class="mt-2">
						Mi chiamo Niccolò Agnoletti (con due C) e sono uno <strong>sviluppatore web, grafico e illustratore digitale.</strong> Ogni tanto faccio anche <a href="https://www.dafont.com/it/blazardsky.d6835" target="_blank" rel="noopener" class="underline">dei font (tipo questo)</a> o <a href="#" target="_blank" rel="noopener" class="underline">dei giochi</a>.
					</p>
					<p class="mt-2">
						Mi occupo principalmente di progettazione di siti web per il marketing e grafica editoriale.
					</p>
				</div>
			</div>
		</div>			
	</section>
	<PortfolioButtons />
	<section class="bg-foreground text-background px-4 py-24 clip01">
		<h2 class="text-center font-light uppercase text-6xl mt-24">
			No? va beh, allora<br/> continua a scrollare 
		</h2>
		<h3 class="text-center font-extrabold uppercase text-5xl mt-44">
			1. Perché lavorare con me :)
		</h3>
		<ul class="group list-none p-2">
			{
				PAGEDATA.testimonials.map(testimonial => (
				  <Testimonal 
				  	id={testimonial.id}
					name={testimonial.by} 
					role={testimonial.role}
					body={testimonial.body}
					src={testimonial.img}
					link={testimonial.link}
				  />
				))
			}
		</ul>
		<h4 class="text-center font-extrabold uppercase text-4xl mt-36">
			I miei punti di forza
		</h4>
		<ul class="my-12 flex flex-col md:flex-row max-w-5xl mx-auto gap-8">
			<CardIcon title="Problem solving" body="Sono abituato a lavorare in autonomia e con più gradi di responsabilità, trovando soluzioni creative ai problemi posti" src={`%3Csvg width='84' height='100' viewBox='0 0 84 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M55.2057 51.9014C48.2497 51.211 38.673 48.4519 31.9609 50.7695C29.147 51.7411 26.3648 54.8806 26.9407 58.0569C27.5216 61.2608 32.4634 62.7804 35.141 63.1309C41.1757 63.921 47.0935 63.1114 53.0906 63.5904C57.4013 63.9347 58.6556 64.7149 59.0443 59.8478C59.4671 54.5544 54.5817 51.3602 56.3873 46.6568C57.4306 43.939 60.417 27.8296 65.205 31.0792C70.3864 34.5957 70.9902 44.964 69.8813 50.5669C69.1504 54.2593 64.3351 55.488 62.2213 58.1799C61.1514 59.5425 61.0183 62.045 60.6472 63.6794' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M26.2781 56.9631C26.023 59.533 25.4031 61.7261 26.9415 63.97C29.008 66.9844 32.8598 69.4379 36.4551 69.8721C42.4094 70.5913 46.578 72.6233 47.0441 79.3699C47.1185 80.4471 46.8096 85.7501 49.0189 84.634C51.0849 83.5902 54.3045 85.0152 55.5705 83.0073C58.5734 78.2449 56.7065 70.0818 57.2442 64.664' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M37.9715 25.7322C42.3052 27.8133 47.7675 37.6515 47.5405 42.5472C47.4056 45.4558 48.8471 48.6228 48.5652 51.4629C48.478 52.3421 42.1409 51.266 41.4304 51.1954C35.7514 50.6318 29.999 51.3829 24.2444 50.8118C21.0868 50.4984 20.8176 54.0446 19.4122 56.5754C17.0314 60.8631 14.7158 65.1674 12.4762 69.4753' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M32.34 22.5283C31.8385 27.5814 37.3614 25.2191 37.7718 21.0842C38.5953 12.7874 25.9219 13.9299 25.2044 21.159' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M42.6236 32.1429C37.6514 36.6291 32.4982 41.1411 26.8291 44.7512C24.5886 46.1779 23.7869 47.5094 24.2395 44.2004C24.8738 39.5637 27.5625 34.7637 29.4513 30.5417C29.9407 29.448 30.1687 27.4513 31.2306 27.0458' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M22.7403 52.6453C21.8491 61.6242 21.6576 70.214 20.796 78.8944' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3C/svg%3E`} />			
			<CardIcon title="Multidisciplinarietà" body="Ho conoscenze trasversali per cui posso fare “da ponte” tra il team di sviluppo e il team di design ed essere versatile in progetti più piccoli" 
			src={`%3Csvg width='84' height='100' viewBox='0 0 84 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M41.7309 68.6756C41.7309 61.9919 47.81 55.0513 51.4394 49.7028C53.3826 46.839 52.4128 48.4114 53.2796 49.8297C54.1161 51.1986 58.1442 51.6255 59.1173 50.2739C61.0192 47.6324 61.2024 43.7019 57.7214 41.9614C53.7013 39.9513 51.8433 46.5229 50.2972 48.6875' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M49.155 52.6857C47.9762 53.7336 37.0062 54.0618 36.6228 52.3367C35.7237 48.2908 36.7744 44.9653 34.3068 41.2639' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M41.1598 11.5671C43.5015 14.1451 47.0604 12.6972 46.8707 9.28276C46.6442 5.2072 38.0947 6.96954 41.1598 11.5671Z' fill='%23F7F6DF' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M33.8206 35.686C38.4999 35.686 38.9538 32.5645 36.522 30.1601C33.6194 27.2903 28.463 34.3339 33.8206 35.686Z' fill='%23F7F6DF' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M51.7184 25.5773C49.419 25.4921 48.2984 23.5598 49.155 21.8466C50.7875 18.5816 55.1067 20.0916 55.437 23.5598C55.5906 25.1725 52.8975 25.621 51.7184 25.5773Z' fill='%23F7F6DF' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M47.4417 52.6855C52.3749 53.0966 56.8701 54.7329 61.7189 55.541' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M37.7631 74.0476C39.5994 71.8703 43.292 72.4306 45.8369 72.4495C46.6455 72.6528 47.4514 72.8674 48.2494 73.1235C49.6485 73.5726 51.3343 73.776 52.4627 74.7916C54.6422 76.7531 57.1999 79.3494 57.0911 82.5056C57.0274 84.353 56.6673 86.6371 55.6815 88.2225C53.783 91.2755 50.339 93.0249 46.8084 92.9997C40.647 92.9557 34.6854 88.5997 34.6854 82.1218C34.6854 79.2238 35.902 76.2543 37.7631 74.0476Z' fill='%23F7F6DF'/%3E %3Cpath d='M45.9626 72.45C43.415 72.45 39.6299 71.8341 37.7631 74.0476C35.902 76.2543 34.6854 79.2238 34.6854 82.1218C34.6854 88.5997 40.647 92.9557 46.8084 92.9997C50.339 93.0249 53.783 91.2755 55.6815 88.2225C56.6673 86.6371 57.0274 84.353 57.0911 82.5056C57.1999 79.3494 54.6422 76.7531 52.4627 74.7916C51.3343 73.776 49.6485 73.5726 48.2494 73.1235C46.8905 72.6873 45.5086 72.3717 44.1301 72.0271' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M47.3723 69.4898C46.4499 69.3813 45.5915 68.9922 44.7409 68.644C43.1937 68.0106 41.6198 67.4547 40.0499 66.8819C39.176 66.5631 38.2595 66.0967 37.3402 65.9265C36.9501 65.8542 37.256 66.4761 37.301 66.6078C38.0633 68.837 38.9762 71.0262 39.8384 73.2175C40.9229 75.9736 42.1507 78.6984 43.018 81.5345C43.42 82.8494 43.7606 84.1393 44.3258 85.3954C44.4944 85.7701 44.4659 85.81 44.0047 85.8418C42.9625 85.9137 41.9199 85.9517 40.8878 86.1238' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M61.3643 55.5869C64.0397 55.5869 66.18 54.9003 67.1014 52.0062C67.8632 49.6133 68.076 47.0655 67.3398 44.6343C67.056 43.6972 66.6068 42.8236 66.3861 41.8637C66.325 41.5982 66.3068 41.4833 66.1924 41.2966' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M44.5529 70.0535V71.7451' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M41.358 69.1623C36.9822 69.1623 32.7239 68.9022 28.3898 68.321C26.2417 68.033 24.1246 67.635 21.9601 67.4952C21.3481 67.4556 20.7414 67.4059 20.1495 67.2482C19.7771 67.1489 19.9412 66.5901 19.9315 66.3219C19.8866 65.0829 19.2241 63.9862 18.7579 62.8486C18.2369 61.5775 17.7856 60.3394 17.0646 59.1592' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3C/svg%3E `} />
			<CardIcon title="Esperienza mista" body="Ho lavorato sia con agenzie e aziende che direttamente con clienti e per varie tipologie di progetto." 
			src={`%3Csvg width='84' height='100' viewBox='0 0 84 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M39.6288 13.9689C39.6288 30.1629 39.0128 46.4792 40.0344 62.6479C40.4136 68.6508 40.8231 74.6756 40.8454 80.6922C40.8518 82.4077 40.92 84.1471 40.8003 85.8603C40.7705 86.2879 40.7119 86.9716 40.3272 87.2788C39.5733 87.8809 37.8768 88.0609 36.993 87.9825C34.6102 87.771 34.6293 83.3248 34.2444 81.8578C33.2021 77.8845 32.3398 73.6721 32.1267 69.5643C32.0183 67.4745 31.9978 65.3856 31.924 63.2966C31.9063 62.7971 30.777 63.1283 30.5159 63.1647C27.085 63.6431 23.0568 63.8291 19.657 62.9558C16.5485 62.1572 17.4222 59.2943 18.0349 57.0399C20.258 48.8604 24.4934 41.3902 28.5446 33.9815C29.2351 32.7188 29.8759 31.4482 30.775 30.3198C30.8678 30.2034 28.4576 30.3239 28.1616 30.3528C26.1316 30.551 24.0145 27.9002 23.408 26.2843C22.628 24.2058 22.096 21.3692 23.2053 19.3239C23.869 18.1002 24.7912 17.0508 25.6384 15.9482C27.606 13.3873 30.4875 12.1361 33.7037 11.6378C35.0773 11.4249 36.3362 11 37.7589 11C38.35 11 38.7522 11.947 38.2095 11.5938' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3Cpath d='M46.3094 85.0894C44.7783 77.0934 44.6219 68.7492 44.6219 60.6596C44.6219 53.0242 44.9032 45.3812 44.9032 37.7458V21.3499C44.9032 18.9335 45.0602 16.4655 44.6219 14.0791C44.4526 13.157 44.0052 12.3073 44.8615 11.7144C44.8615 11.7144 50.914 10.5763 54.2618 11.7146C58.7255 13.2321 59.2835 15.4638 60.3995 18.2537C61.1323 21.6015 59.2835 25.5073 57.0516 28.2974C57.6214 28.6582 57.7692 28.7889 58.2573 29.277C59.5151 30.5348 60.2961 32.3422 61.1323 33.8708C62.973 37.2355 64.8806 40.5328 65.9761 44.2249C66.8065 47.0237 67.4832 51.4558 65.5282 53.9228C64.1636 55.6447 62.5182 55.7313 61.3302 53.777C59.2717 50.3903 58.3159 46.3651 56.2782 42.9437C55.9324 42.3632 55.3037 41.4156 54.5698 41.2353C53.6146 41.0007 52.7452 41.9643 52.6323 42.8187C52.3012 45.3261 52.7782 47.9957 52.7782 50.527C52.7782 53.4063 52.4032 56.2567 52.4032 59.1311C52.4032 62.5893 52.376 66.0378 52.2261 69.4853C52.1003 72.3795 51.9626 75.2764 51.8407 78.1728C51.7558 80.1882 51.8376 82.4376 51.424 84.4228C51.1085 85.9371 49.9535 88.5437 48.0282 87.9019C46.9078 87.5284 46.5017 86.0933 46.3094 85.0894Z' fill='%23F7F6DF' stroke='%23F7F6DF' stroke-width='3' stroke-linecap='round'/%3E %3C/svg%3E `} />
		</ul>
	</section>
	<section class="px-4 py-24">
		<h3 class="text-center font-extrabold uppercase text-5xl mt-36">
			2. Le mie competenze
		</h3>

		<div class="mx-auto max-w-4xl my-12">
			<span class="bg-technical rounded-md p-1 uppercase font-bold">TECH</span>
			<h4 class="mt-1 uppercase text-3xl">
				Progettazione e realizzazione di <strong>siti web</strong> completa sia come <strong>codice</strong> che come <strong>ui/ux</strong>.
			</h4>
			<p class="font-cursive text-lg">Conosco bene CSS, SASS, JS, REACT, HTML, oltre a Python e PHP. I miei framework preferiti in ambito js sono NextJS e Astro. Ho una certa esperienza con WordPress e Shopify (sia in ambito “code” che “no-code”) ma solitamente uso Sanity come CMS headless per creare soluzioni totalmente custom. <br />Cerco di creare sempre esperienze web accessibili e ben strutturate (alcune parole chiave: semantic html, responsive, adaptive, a11y, tailwindcss).</p>
		</div>

		<div class="mx-auto max-w-4xl my-12">
			<span class="bg-creative rounded-md p-1 uppercase font-bold">Creative</span>
			<h4 class="mt-1 uppercase text-3xl">
				Progettazione e realizzazione di <strong>grafiche</strong> e <strong>illustrazioni</strong> per la stampa e per il digitale.
			</h4>
			<p class="font-cursive text-lg">Conosco bene Photoshop, Illustrator, InDesign e in generale i programmi Adobe. Ultimamente mi sto spostando sulla suite Affinity by Serif. Uso spesso anche Procreate e Figma. I miei ambiti preferiti per cui creare artwork sono abbigliamento, magazine e libri, album musicali. Ho una certa esperienza anche con varie AI generative che ho sperimentato fin dai loro primi esordi.</p>
		</div>

		<div class="mx-auto max-w-4xl my-12 flex flex-row">
			<p class="uppercase opacity-70">
				Se ti interessa sapere altro puoi guardare il mio <a href="https://www.linkedin.com/in/nic-agnoletti/" rel="me noopener" target="_blank" class="underline">profilo LinkedIn</a> e mandarmi una richiesta oppure scaricare un estratto del mio <a href="#" target="_blank" rel="noopener" download="true" class="underline">curriculum.</a>
			</p>
			<img src="/assets/images/fiorellini.png" alt="due fiorellini con una faccia sorridente" height="190" width="190" />
		</div>
		<img class="w-full max-w-5xl mx-auto" src="/assets/images/friends_garden.png" alt="Illustrazione dei vari strumenti che uso per lavorare con le gambe e una faccia per renderli buffi" height="777" width="1234" />
	</section>
	<section class="px-4 py-24">
		<h3 class="text-center font-extrabold uppercase text-5xl mt-36">
			3. PS: Ho anche delle certificazioni
		</h3>

		<ul class="mx-auto max-w-4xl grid grid-flow-row sm:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-9 my-12 text-center">
			<!-- border-l-2 border-zinc-700/50 pl-4 relative after:absolute after:w-3 after:h-3 after:bg-zinc-700/50 after:rounded-full after:-bottom-8 after:-left-1.5 -->
			<li class="p-2 border-foreground border rounded-md">
				<h4 class="block uppercase font-extrabold text-3xl leading-none">E-Design<br/>Illustrazione</h4>
				<p class="mt-2 font-cursive text-xs">Accademia Nemo</p>
			</li>
			<li class="p-2 border-foreground border rounded-md">
				<h4 class="block uppercase font-extrabold text-3xl leading-none">Joy of<br/>React</h4>
				<p class="mt-2 font-cursive text-xs">Josh W. Comeau</p>
			</li>
			<li class="p-2 border-foreground border rounded-md sm:col-span-2 lg:col-span-1">
				<h4 class="block uppercase font-extrabold text-3xl leading-none">Landing Page<br/>Academy</h4>
				<p class="mt-2 font-cursive text-xs">Erik D. Kennedy</p>
			</li>
		</ul>
	</section>
	<section>
		[qui vanno i lavori in modo immersivo figo]
	</section>
	<PortfolioButtons before_title="giunti fin qui" />
	<section>
		<svg width="63" height="607" viewBox="0 0 63 607" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-auto">
			<g clip-path="url(#clip0_168_60)">
			<path d="M55.2601 10.8709C48.1327 10.5543 27.6833 4.83461 22.6046 12.8661C15.974 23.352 46.2078 29.3093 48.9102 30.1423C58.4587 33.0856 67.4054 36.8907 54.7898 45.3054C51.8011 47.299 15.2807 71.7295 26.012 76.2431C30.9691 78.3281 38.5593 76.9237 42.9034 80.4389C50.606 86.6719 35.4798 119.716 33.5747 126.539C30.4856 137.604 28.1467 143.234 35.6361 148.682C39.9273 151.804 31.4203 160.638 30.0056 163.679C24.5828 175.334 55.8257 176.181 45.9527 187.645C39.9597 194.603 32.855 199.288 30.6523 210.222C27.7854 224.455 40.1686 234.928 44.8365 245.566C51.741 261.302 38.1758 259.747 31.1193 265.286C20.1712 273.878 39.9539 309.901 42.7572 319.209C47.154 333.806 45.8972 333.663 39.7063 343.192C36.7612 347.725 39.7402 353.677 40.9577 358.236C42.2652 363.13 42.4845 366.25 39.7511 370.5C39.1367 371.455 35.2944 375.036 35.6992 376.78C36.5296 380.357 41.452 384.602 43.1761 387.277C48.1482 394.99 48.8484 399.768 43.9774 407.985C40.8707 413.227 36.5718 418.319 35.022 424.815C33.9081 429.485 36.0345 433.282 36.703 437.639C37.5581 443.211 35.465 447.837 33.5207 452.658C30.6692 459.728 31.5705 459.806 35.5435 465.238C47.9151 482.153 45.7311 498.696 43.5098 519.859C40.7422 546.226 40.6646 572.994 37.4676 599.269" stroke="#222222" stroke-width="3" stroke-linecap="round"/>
			</g>
			<defs>
			<clipPath id="clip0_168_60">
			<rect width="63" height="607" fill="white"/>
			</clipPath>
			</defs>
			</svg>
			
		<h5 class="uppercase font-extrabold text-center">Oppure vuoi contattarmi?</h5>
		<img src="/assets/images/scimmietta.png" alt="una specie di scimmietta attaccata a una freccia che indica verso il basso" class="mx-auto max-w-64" height="254" width="375" />
		<div class="mt-64 mx-auto max-w-3xl text-5xl relative">
			<p class="uppercase font-extrabold text-left px-12 pt-12 pb-20 mb-28 bg-midground -rotate-2" style="clip-path: polygon(2% 1%, 0% 5%, 12% 2%, 18% 0%, 25% 1%, 32% 0%, 38% 2%, 51% 2%, 48% 0%, 59% 0%, 56% 1%, 69% 1%, 67% 0%, 80% 0%, 83% 1%, 87% 0%, 91% 2%, 94% 1%, 99% 0%, 100% 8%, 100% 14%, 99% 19%, 100% 24%, 99% 30%, 100% 36%, 100% 49%, 98% 47%, 100% 57%, 100% 64%, 99% 66%, 100% 71%, 98% 84%, 100% 87%, 100% 95%, 98% 100%, 80% 100%, 86% 99%, 69% 99%, 64% 100%, 55% 99%, 50% 100%, 39% 94%, 43% 100%, 36% 99%, 29% 100%, 24% 98%, 15% 100%, 9% 100%, 4% 100%, 1% 98%, 5% 90%, 1% 83%, 2% 69%, 0% 62%, 1% 44%, 0% 32%, 2% 23%, 0% 12%, 4% 12%, 0% 4%);">sono disponibile a lavorare da remoto in Europa e nel mondo: <a href="mailto:ciao@nicc-olo.com" class="underline">contattami</a></p>
			<svg class="absolute -bottom-28 left-[8ch]" width="117" height="167" viewBox="0 0 117 167" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M48.1235 3.05025C54.8442 16.5497 61.8563 29.937 68.2074 43.6155C74.4595 57.0808 77.335 71.0454 78.4731 86.0738C79.3926 98.2164 79.4842 107.647 78.4368 119.934C77.1724 134.766 72.8408 148.483 69.584 163.076" stroke="#222222" stroke-width="5" stroke-linecap="round"/>
				<path d="M68.9448 163.571C66.8524 159.369 64.7601 155.166 62.6677 150.963C61.5196 148.657 60.6063 146.152 58.4967 144.507" stroke="#222222" stroke-width="5" stroke-linecap="round"/>
				<path d="M69.656 164.36C73.0322 162.679 76.0629 161.169 78.9082 158.675C82.0364 155.933 84.6013 152.79 87.197 149.632" stroke="#222222" stroke-width="5" stroke-linecap="round"/>
				</svg>
		</div>
		<p class="font-cursive max-w-sm mx-auto px-8">In particolare per progetti editoriali artistici o se rappresenti uno studio creativo in cerca di collaboratori. 
		<br/>Se invece hai bisogno di esperti di marketing e comunicazione, <a href="mailto:info@kipoproduzioni.it" class="underline">scrivi ai ragazzi di Kìpo</a></p>
	</section>
</Layout>
