---
import {getDocuments, type Work} from '@lib/microcms.ts';
import {type Portfolio} from '@lib/types'
import {cn, generateRuggedRectangle} from '@lib/utils'
import { Image } from 'astro:assets';

interface Props {
  portfolio: Portfolio
}

const { portfolio } = Astro.props;

type WorkPreview = Pick<Work, 'id'|'slug'|'description'|'client'|'start_date'|'image'|'title'>;


const works = await getDocuments<WorkPreview>('works',{ fields: ["id","slug", "description", "title", "start_date", "client", "image"], filters: `portfolio[contains]${portfolio}` });

---

<ul class="grid grid-flow-row -mt-10 mx-4">
{
  works.contents.map((work: WorkPreview, index: number) => (
    <li 
      class={cn(
        "flex flex-col gap-4 p-4 md:p-6 lg:p-8",
        index % 2 === 0 ? "md:flex-row" : "md:flex-row-reverse",
        'lg:p-12 md:items-center',
        portfolio === 'creative' && 'bg-creative-light',
        portfolio === 'technical' && 'bg-technical-light',
      )}
      style={`clip-path:${generateRuggedRectangle({
        points: 26, roughness: 1.4, seed: (index + 1) * (9 + portfolio === 'creative' ? 3 : 6), spikes: true
      })};`} 
      >
      <Image 
        src={work.image.url} 
        height={work.image.height/2} 
        width={work.image.width/2} 
        alt={`Immagine di anteprima del lavoro ${work.title}`}
        class="w-full max-w-[56vw]" 
        style={`aspect-ratio: 16/12; clip-path:${generateRuggedRectangle({
          points: 40, roughness: 1.2, seed: index * 33
        })};`} 
      />

      <div class="w-full h-full flex-grow flex flex-col md:max-w-md mx-auto p-4">
          <p class={cn(
            "font-sm uppercase font-medium",
            //index === 0 && 
            "mt-auto"
          )}>{new Date(work.start_date).getFullYear()}/{work.client}</p>
          <h3 class="uppercase font-extrabold text-4xl leading-none">{work.title}</h3>
          <p class="mt-2 font-cursive">{work.description.slice(0,120)}&hellip;</p>
          <a href={`${Astro.url.origin}/portfolio/${portfolio}/${work.id}/${work.slug}`} class={cn(
            portfolio === 'creative' && 'bg-creative text-orange-950 active:bg-creative-dark',
            portfolio === 'technical' && 'bg-technical text-purple-950 active:bg-technical-dark',
            "px-8 py-2 text-center mt-6 mb-0 block uppercase font-bold tracking-wide hover:shadow-sm hover:scale-105 active:scale-95 transition-all ease-in-out duration-300",
            //index === 0 && 
            "mb-auto"
          )}>Approfondisci progetto</a>
      </div>
    </li>
  ))
}
</ul>