---
import {getDocuments, type Work} from '@lib/microcms.ts';
import {type Portfolio} from '@lib/types.ts'

interface Props {
  portfolio: Portfolio
}

const { portfolio } = Astro.props;

type WorkPreview = Pick<Work, 'id'|'slug'|'description'|'client'|'start_date'|'image'|'title'>;


const works = await getDocuments<WorkPreview>('works',{ fields: ["id","slug", "description", "title", "start_date", "client", "image"], filters: `portfolio[contains]${portfolio}` });

---

<ul class="md:grid md:grid-flow-row md:grid-cols-2 xl:grid-cols-3 -mt-10 mx-4">
{
  works.contents.map(work => (
    <li class={`first-of-type:col-span-3 w-full flex flex-col first-of-type:md:flex-row items-center gap-4 p-4 md:p-6 lg:p-8 first-of-type:lg:p-12 clip01 ${portfolio === 'creative' ? 'bg-creative-light' : 'bg-technical-light' }`}>
      <img src={work.image.url} height={work.image.height} width={work.image.width} alt="" class="transition-transform will-change-transform duration-200 ease-in w-full max-w-4xl" style="clip-path: polygon(0 0,6.85% .75%,13.72% .1%,38.51% .13%,49.5% .37%,56.73% 2.55%,63.31% .16%,95% 1.45%,99.01% .75%,99.75% 4.99%,98.2% 24.43%,99.33% 57.85%,99.01% 99.75%,95.76% 96.51%,95.62% 99.75%,83.54% 94.52%,82.62% 99.99%,59.36% 98.17%,48.81% 99.75%,38.15% 99.75%,38.15% 96.51%,33.17% 99.75%,29.68% 98.96%,.23% 99.5%,.2% 98.17%,0 84.29%,.23% 53.62%,2.92% 45.64%,0 43.39%,2% 31.15%,0 25.19%,4.33% 23.74%,.46% 22.94%,2% 15.46%,.17% 8.98%)" />
      <div class="w-full md:max-w-md mx-auto peer px-4 py-8">
          <p class="font-sm uppercase font-medium">{new Date(work.start_date).getFullYear()}/{work.client}</p>
          <h3 class="uppercase font-extrabold text-4xl leading-none">{work.title}</h3>
          <p class="mt-2 font-cursive">{work.description.slice(0,120)}&hellip;</p>
          <a href={`${Astro.url.origin}/portfolio/${portfolio}/${work.id}-${work.slug}`} class={`${portfolio === 'creative' ? 'bg-creative text-orange-950 active:bg-creative-dark ' : 'bg-technical text-purple-950 active:bg-technical-dark' } px-8 py-2 text-center mt-8 block uppercase font-bold tracking-wide hover:shadow-sm hover:scale-105 active:scale-95 transition-all ease-in-out duration-300`}>Approfondisci progetto</a>
      </div>
    </li>
  ))
}
</ul>